# Klassifikationshierarchie

In [56]:
import pandas as pd
import numpy as np

headers_wz = ['id', 'code', 'definition', 'isic']
wz = pd.read_csv('../data/raw/klassifikationenWZ2008.csv', sep=';', names=headers_wz, encoding='latin-1',  skiprows=2)

wz.drop('isic', axis=1, inplace=True)

wz.set_index('id', inplace=True)

wz.head()

        code                                         definition
id
1.0        A  ABSCHNITT A - LAND- UND FORSTWIRTSCHAFT, FISCH...
2.0       01  Landwirtschaft, Jagd und damit verbundene Täti...
3.0     01.1                         Anbau einjähriger Pflanzen
4.0    01.11  Anbau von Getreide (ohne Reis), Hülsenfrüchten...
5.0  01.11.0  Anbau von Getreide (ohne Reis), Hülsenfrüchten...

In [76]:
wz[(wz['code'].str.isupper())]

ValueError: cannot index with vector containing NA / NaN values

In [ ]:
split =  pd.DataFrame(wz['code'].str.split('.').tolist(),
                                   columns = ['code_1','code_2', 'code_3'])

In [65]:
headers_dom = ['url', 'section', 'code']
dom = pd.read_csv('../data/raw/20181018 Domain+WZ2008 Hackathon INOBAS.csv', sep=';', names=headers_dom, encoding='latin-1', skiprows=1)

dom.head()

                     url section   code
0  www.hoberg-driesch.de       L  68.31
1            www.hgdf.de       K  64.20
2           www.gasag.de       D  35.30
3      www.ergodirekt.de       K  65.11
4          www.wahler.de       M  70.10

In [67]:
split =  pd.DataFrame(dom['code'].str.split('.').tolist(),
                                   columns = ['code_1','code_2'])
dom_split = pd.concat([dom, split], axis=1)
dom_split.head()

                     url section   code code_1 code_2
0  www.hoberg-driesch.de       L  68.31     68     31
1            www.hgdf.de       K  64.20     64     20
2           www.gasag.de       D  35.30     35     30
3      www.ergodirekt.de       K  65.11     65     11
4          www.wahler.de       M  70.10     70     10

In [68]:
dom_l = dom_split.merge(wz, on='code')
dom_l.head()

,url,section,code,code_1,code_2,definition
0,www.hoberg-driesch.de,L,68.31,68,31,"Vermittlung von Grundstücken, Gebäuden und Woh..."
1,www.treureal.de,L,68.31,68,31,"Vermittlung von Grundstücken, Gebäuden und Woh..."
2,www.immo-ostalb.de,L,68.31,68,31,"Vermittlung von Grundstücken, Gebäuden und Woh..."
3,www.trauco.de,L,68.31,68,31,"Vermittlung von Grundstücken, Gebäuden und Woh..."
4,www.kskgrossgerau.de,L,68.31,68,31,"Vermittlung von Grundstücken, Gebäuden und Woh..."

In [69]:
level_sizes = dom_l.groupby(['section']).size()

level_sizes.head(50)

section
A       8
B       8
C    3553
D      93
E      91
F     797
G    1747
H     274
I      92
J     355
K     266
L     167
M    1293
N     899
O      39
P     111
Q     626
R      48
S     222
dtype: int64